{
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "assert\\(.*"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "main"
        }
    }
}
