includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    phpVersion: 80000
    tmpDir: /tmp/phpstan
    level: max
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
    exceptions:
        uncheckedExceptionRegexes: []
        uncheckedExceptionClasses:
            - LogicException
            - Error
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
    symfony:
        console_application_loader: .phpstan/ConsoleApplicationLoader.php

    # This checks are disabled by default
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    # checkImplicitMixed: true # TODO PHPStan 1.9

    ignoreErrors:
        - # https://github.com/phpstan/phpstan-webmozart-assert/issues/150
            message: "#Call to static method Webmozart\\\\Assert\\\\Assert::implementsInterface\\(\\) with class-string and 'TwigCsFixer\\\\\\\\Sniff\\\\\\\\SniffInterface' will always evaluate to false.#"
            path:    'src/Cache/CacheEncoder.php'

services:
    exceptionTypeResolver:
        class: TwigCsFixer\PHPStan\ExceptionTypeResolver
