includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    phpVersion: 80000
    tmpDir: /tmp/phpstan
    level: max
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
    exceptions:
        uncheckedExceptionRegexes: []
        uncheckedExceptionClasses:
            - LogicException
            - Error
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
    implicitThrows: false

    # This checks are disabled by default
    checkInternalClassCaseSensitivity: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true

services:
    exceptionTypeResolver:
        class: TwigCsFixer\PHPStan\ExceptionTypeResolver
