name: Composer

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    normalize:
        name: Normalize
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.5
                  coverage: none
                  tools: composer:v2
                  ini-file: development

            - name: Install Composer dependencies
              uses: ramsey/composer-install@v3
              with:
                  dependency-versions: highest
                  composer-options: --prefer-dist --prefer-stable

            - name: Composer normalize
              run: composer normalize --dry-run

    dependency-analyser:
        name: Dependency analyser
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install PHP with extensions
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.5
                  coverage: none
                  tools: composer:v2
                  ini-file: development

            - name: Install Composer dependencies
              uses: ramsey/composer-install@v3
              with:
                  dependency-versions: highest
                  composer-options: --prefer-dist --prefer-stable

            - name: Composer dependency analyser
              run: vendor/bin/composer-dependency-analyser
